protobuf>=3.19.5,<4.0.0dev,!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5
streamlit==1.9.0
google-cloud-storage
numpy
torch
torchvision
opencv-python-headless
matplotlib
Pillow
git+https://github.com/facebookresearch/segment-anything.git@567662b0fd33ca4b022d94d3b8de896628cd32dd
pip